<app-navbar></app-navbar>
<div class="container">
  <div class="content" *ngIf="product">
    <div class="images">
      <img class="image" *ngFor="let image of images" [src]="image">
    </div>
    <div class="description">
      <h2 class="title">{{ product.title }}</h2>
      <h5 class="date">{{ product.date }}</h5>
      <img class="main-image" [src]="coverLink">
      <h5 class="price">{{ product.price }} USD</h5>
      <app-quantity-selector class="quantity"></app-quantity-selector>
      <a [href]="product.shopLink">
        <button class="addToCartButton">Buy</button>
      </a>
      <p class="bio">{{ product.description }}</p>
    </div>
  </div>
</div>
