<div class="container">
  <div class="navitem links">
    <a class="link" href="/home">
      Home
    </a>
    <a class="link" href="/catalog">
      Catalog
    </a>
    <a class="link" href="/contact">
      Contact
    </a>
  </div>
  <div class="navitem logo">
    <a href="/">
      <img class="logoimg" src="https://cdn.shopify.com/s/files/1/0768/2555/9356/files/normal_text.png?v=1686011639">
    </a>
  </div>
  <div class="navitem buttons">
    <a href="/cart">
      <mat-icon class="icon material-icons-outlined" fill="false" fontIcon="shopping_bag"></mat-icon>
    </a>
    <mat-icon class="icon" fontIcon="search"></mat-icon>
  </div>
</div>
